.Game-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Game-control-bar {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
}

.Game-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
